@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/Yekan-Bakh-FaNum-04-Regular.74655fa.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/Yekan-Bakh-FaNum-06-Bold.6be8947.woff") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}